.blue-nav {
    background-color: #2D90DD;
    border-color: #2D90DD;
}

.navbar-default .navbar-nav > li > a  {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

body { 
    padding-top: 50px; 
}

img {
    max-width: 100%;
}