body {
    font-family: 'Hind', sans-serif;
}

.blue-nav {
    background-color: #2B3857;
    border-color: #2B3857;
}

.navbar-default .navbar-nav > li > a  {
    color: #D3D8DF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #7F889B;
}

.navbar-default .navbar-nav > li > a:active {
    color: #556079;
}

.navbar-default .navbar-brand {
    color: #D3D8DF;
    font-weight: 300;
}

.navbar-default .navbar-brand:hover {
    color: #7F889B;
    font-weight: 300;
}

.navbar-default .navbar-brand:active {
    color: #556079;
    font-weight: 300;
}

body { 
    padding-top: 50px; 
}

img {
    max-width: 100%;
}

h3 {
    font-size: 35px;
    color: #2B3857;
    border-left: 0.5rem;
    font-weight: 300;
}

.full-height {
    height: 85vh;
}

.thumbnail {
    height: 150px;
    width: 250px;
}

.thumbnail:hover {
    background-color: black;
    opacity: 0.5;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.center {
    display: inline-block;
    vertical-align: middle;
}

.thumbnail > img {
    display: inline-block;
    vertical-align: middle;
}

.workdeetz {
    display: none;
}

.socialmedia {
    height: 50px;
    width: auto;
}

.socialmedia:hover {
    opacity: 0.5;
}